{% extends 'usuarios/base.html' %}

{% block conteudo %}
<div class="container mt-5">
  <h1 class="mb-4">Usuários Cadastrados</h1>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Senha</th>  
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.id_usuario }}</td>
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.senha }}</td>  
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
